html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
/*为所有标签设定标准样式*/
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}

/* 标签样式 */
body {
    margin: 0 auto;
    max-width: 70em;        /* 定义元素的最大宽度 */
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 1em;
    color: #555;
    background-color: #f6f6f6;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #333;
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
     border-left: 2px solid #69c;
}

input[type="text"]{
    border:2px black solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0.3em;
    padding:0.3em 0.7em;
}

input[type="email"]{
    border:2px black solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0.3em;
    padding:0.3em 0.7em;
}

textarea{
    border:2px black solid;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0.3em;
    padding:0.3em 0.7em;
    width: 80%;
    height: 10em;
    resize: none;
    overflow: scroll
}

/* 类样式 */

.tag{
    color: #007fff;
    font-size: 0.8em;
}
.tag a{
    text-decoration: none
}
.date_A{
    float: right;
    position: relative;
    top: -3.5em;
    color: #adadad;
    font-style: italic;
}
.date_B{
    margin-top: 0.7em;
}
.info{
    color: #adadad;
    font-weight: 700;
    font-style: italic;
}
.current{
    font-weight: 700;
    font-style: italic;
}
.page_change{
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
}
.page_change:link{
    color: #00f9bf;
}
.page_change:visited{
    color: #00f9bf;
}
.page_change:hover{
    color: #00f1b7;
}
.page_change:active{
    color: #00f1b7;
}
.author{
    font-weight: 700;
    font-style: italic;
}

/* id样式 */
#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    clear: both;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding: 3em 0 0 4em;

    width: 19em;
    height: 100%;
    background-color: #11000d;

    color: white;
    line-height: 2em;
}
#sidebar h2{
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 15%;
}
@font-face {
    font-family: Fritz_Bold;
    src: url('../font-family/Fritz_Bold.ttf');
    unicode-range: U+0-2ff;
}
#sidebar h3{
    line-height: 2.5em;
    font-size: 1.3em;
    font-family:Fritz_Bold;
    letter-spacing: 0.1em;
}
/* <a> */
#sidebar a:link{
    text-decoration: none;
    color: #b200ff;
}
#sidebar a:visited{
    text-decoration: none;
    color: #b200ff;
}
#sidebar a:hover{
    text-decoration: none;
    color: #9500cc;
}
#sidebar a:active{
    text-decoration: none;
    color: #9500cc;
}

/* RSS */
#RSS{
    margin-top: 10%;
    /*margin-left: 10%;*/
}

#content {
    float: left;
    position: relative;
    left: 17em;
    width: 80%;

}
#content h1{
    font-size: 4em;
    margin-top: 0;
    margin-left: 0;
    padding-top:0;
    margin-bottom: 0;
    height: 1em;

}
#content h3{
     font-size: 1.5em;
}
#content h4{
     font-size: 1.3em;
    color: #eed100;
}
#content hr{
    clear: both;
}

/*@font-face {
    font-family: XingShu;
    src: url('../font-family/XingShu.ttf');
    unicode-range: U+4E00-9FA5;
}*/             /* 中文字体太大了 */
#Article_title{
    font-weight: bold;
    font-size: 2em;
    font-family: Fritz_Bold,"Microsoft YaHei UI", STKaiti, sans-serif;
    text-decoration: none;
}
#Article_title:link{
    color: #551a8b;
}
#Article_title:visited{
    color: #551a8b;
}
#Article_title:hover{
    color: #6c1aa2;
}
#Article_title:active{
    color: #6c1aa2;
}

#send_email_link{
    color: #ff4900;
    margin-top: 0.5em;
    float: right;
    position: relative;
    right: 4em;
    font-style: italic;
}
#send_email_link a:link{
    color: #ff4900;
}
#send_email_link a:visited{
    color: #ff4900;
}
#send_email_link a:hover{
    color: #ee4700;
}
#send_email_link a:active{
    color: #ee4700;
}

#similar_post{
    float: right;
    position: relative;
    top: -19.5em;
}
#similar_post a{
    text-decoration: none;
    font-family: Fritz_Bold;
    letter-spacing: 0.05em;
}

#comment_form p{

}

#submit{
    height: 2.2em;
    width: 9em;
    background-color: #5cff46;
    border-style: solid;
    border-width: 1px;
    border-color: #5cff46;
    color: white;
    font-weight: 700;
}
#comment_submit:link{
    background-color: #5cff46;
}
#comment_submit:visited{
    background-color: #5cff46;
}
#comment_submit:hover{
    background-color: #5ae644;
}

#comment_form p{
    font-weight: bold;

}
#email_form label{
    font-weight: bold;
}